Repository WillBooster/markdown-it-img-size: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t verbose --fix, prettier --write

chore(deps): update dependency renovate-config-willbooster to v0.0.4
  package.json
  yarn.lock
Due: prettier --write

feat: add initial files
  .circleci/config.yml
  .editorconfig
  .gitignore
  .huskyrc.json
  .idea/markdown-it-img-size.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .lintstagedrc.json
  .prettierignore
  .renovaterc.json
  .yarnrc
  NOTICE
  package.json
  src/index.ts
  tsconfig.json
  tslint.json
  wercker.yml
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

test: employ jest
  .circleci/config.yml
  README.md
  __tests__/index.ts
  jest.config.js
  package.json
  src/index.ts
  wercker.yml
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

chore(deps): update dependency @types/jest to v24.0.12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v2.2.0
  package.json
  yarn.lock
Due: prettier --write

fix: exporting way
  .prettierignore
  __tests__/index.ts
  package.json
  script/FixtureGenerator.ts
  src/index.ts
  src/util.ts
  test_fixture/basic.md
  test_fixture/basic.md.html
  test_fixture/icon.png
  tsconfig.json
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

test: add test cases (failed currently)
  __tests__/index.ts
  fixture/icon.png
  fixture/w-percentage.md
  fixture/w-percentage.md.html
  fixture/w-size.md
  fixture/w-size.md.html
  fixture/wo-height.md
  fixture/wo-height.md.html
  fixture/wo-size.md
  fixture/wo-size.md.html
  fixture/wo-width.md
  fixture/wo-width.md.html
  script/FixtureGenerator.ts
  src/index.ts
  test_fixture/basic.md.html
Due: tslint -p . -t verbose --fix, prettier --write

fix: skip failing tests
  __tests__/index.ts
Due: tslint -p . -t verbose --fix

test: fix test cases
  __tests__/index.ts
  fixture/w-height.md
  fixture/w-height.md.html
  fixture/w-width.md
  fixture/w-width.md.html
Due: tslint -p . -t verbose --fix, prettier --write

chore(deps): update dependency jest to v24.8.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v8.1.6
  package.json
  yarn.lock
Due: prettier --write

feat: use * instead of x adding more test cases
  README.md
  __tests__/index.ts
  fixture/w-height.md
  fixture/w-percentage.md
  fixture/w-size.md
  fixture/w-vhvw.md
  fixture/w-vhvw.md.html
  fixture/w-vmax.md
  fixture/w-vmax.md.html
  fixture/w-vmin.md
  fixture/w-vmin.md.html
  fixture/w-width.md
Due: tslint -p . -t verbose --fix, prettier --write

Use : instead of *
  fixture/w-height.md
  fixture/w-percentage.md
  fixture/w-size.md
  fixture/w-vhvw.md
  fixture/w-vmax.md
  fixture/w-vmin.md
  fixture/w-width.md
Due: prettier --write

chore(deps): update dependency prettier to v1.17.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.0.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to v24.0.13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v2.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.0.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v8.1.7
  package.json
  yarn.lock
Due: prettier --write

fix: refine typing
  src/index.ts
Due: tslint -p . -t verbose --fix

feat: use `:` instead of `x` adding more test cases (#6)
  README.md
  __tests__/index.ts
  fixture/w-height.md
  fixture/w-percentage.md
  fixture/w-size.md
  fixture/w-vhvw.md
  fixture/w-vhvw.md.html
  fixture/w-vmax.md
  fixture/w-vmax.md.html
  fixture/w-vmin.md
  fixture/w-vmin.md.html
  fixture/w-width.md
Due: tslint -p . -t verbose --fix, prettier --write

fix: upgrade dependencies
  yarn.lock
Due: none

feat: update index.ts
  src/index.ts
  yarn.lock
Due: tslint -p . -t verbose --fix

WIP: Add logic to replace using regular expression
  src/index.ts
Due: tslint -p . -t verbose --fix

chore(deps): update dependency tslint-microsoft-contrib to v6.2.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-node to v8.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-node to v8.2.0
  package.json
  yarn.lock
Due: prettier --write

WIP: Set {html: true} to MarkdownIt initial options
  __tests__/index.ts
  src/index.ts
Due: tslint -p . -t verbose --fix

fix: use template strings
  src/index.ts
  yarn.lock
Due: tslint -p . -t verbose --fix

Path conditions:
  tslint -p . -t verbose --fix: any of: ./{src,__tests__}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
