Repository WillBooster/markdown-it-img-size: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t verbose --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{ts,tsx}": [
    "tslint -p . -t verbose --fix",
    "git add"
  ],
  "./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}": [
    "prettier --write",
    "git add"
  ]
}

feat: support multiple images (#24)
  .prettierignore
  __tests__/index.ts
  fixture/w-height.md.html
  fixture/w-percentage.md.html
  fixture/w-size.md.html
  fixture/w-vhvw.md.html
  fixture/w-vmax.md.html
  fixture/w-vmin.md.html
  fixture/w-width.md.html
  fixture/wo-size.md.html
  script/FixtureGenerator.ts
  src/index.ts
  test-fixtures/icon.png
  test-fixtures/images-2.md
  test-fixtures/images-2.md.html
  test-fixtures/images-3.md
  test-fixtures/images-3.md.html
  test-fixtures/w-height.md
  test-fixtures/w-height.md.html
  test-fixtures/w-percentage.md
  test-fixtures/w-percentage.md.html
  test-fixtures/w-size.md
  test-fixtures/w-size.md.html
  test-fixtures/w-vhvw.md
  test-fixtures/w-vhvw.md.html
  test-fixtures/w-vmax.md
  test-fixtures/w-vmax.md.html
  test-fixtures/w-vmin.md
  test-fixtures/w-vmin.md.html
  test-fixtures/w-width.md
  test-fixtures/w-width.md.html
  test-fixtures/wo-size.md
  test-fixtures/wo-size.md.html
Due: tslint -p . -t verbose --fix, prettier --write

chore(deps): update dependency @types/jest to v24.0.14
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v3.5.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v8.2.1
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency tslib to v1.10.0
  package.json
  yarn.lock
Due: prettier --write

feat: support image without size specification (#3)
  __tests__/index.ts
  package.json
  src/index.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

feat: support image without size specification (#3) (#39)
  __tests__/index.ts
  package.json
  src/index.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

chore(deps): update dependency ts-node to v8.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to v24.0.15
  package.json
  yarn.lock
Due: prettier --write

fix: use relative paths from current working directory
  __tests__/index.ts
  src/index.ts
Due: tslint -p . -t verbose --fix

fix: use relative paths from current working directory (#43)
  __tests__/index.ts
  src/index.ts
Due: tslint -p . -t verbose --fix

build: employ TypeScript ESLint instead of TSLint
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  __tests__/index.ts
  jest.config.js
  package.json
  src/index.ts
  src/util.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

build: employ TypeScript ESLint instead of TSLint (#44)
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  __tests__/index.ts
  jest.config.js
  package.json
  src/index.ts
  src/util.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

chore(deps): update dependency @types/node to v12.0.10
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v1.11.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v2.5.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/prettier-config to v0.0.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/renovate-config to v0.0.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/tsconfig to v0.0.11
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-config-prettier to v5.1.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/prettier-config to v0.0.13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/eslint-config to v0.0.13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/renovate-config to v0.0.13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/tsconfig to v0.0.13
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): upgrade dependencies
  .eslintignore
  README.md
  __tests__/index.ts
  package.json
  script/FixtureGenerator.ts
  src/index.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

chore: tweak prettier settings
  package.json
Due: prettier --write

chore(deps): update dependency husky to v2.6.0
  package.json
  yarn.lock
Due: prettier --write
