Repository WillBooster/markdown-it-img-size: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t verbose --fix, prettier --write

chore(deps): update dependency @types/node to v12.7.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency markdown-it to v9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v3.6.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/eslint-config to v0.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @willbooster/prettier-config to v0.1.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency markdown-it to v10
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.7.5
  package.json
  yarn.lock
Due: prettier --write

build: add Dependabot config removing renovate config
  .dependabot/config.yml
  .eslintignore
  .renovaterc.json
  package.json
  yarn.lock
Due: prettier --write

build: willboosterify this package
  .dependabot/config.yml
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierignore
  .yarnrc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

.
  .eslintignore
  .prettierignore
  yarn.lock
Due: none

build: willboosterify this package (#373)
  .dependabot/config.yml
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitignore
  .huskyrc.json
  .lintstagedrc.json
  .prettierignore
  .yarnrc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

ci: don't use Wercker
  README.md
  wercker.yml
Due: prettier --write

chore: upgrade image-size
  package.json
  src/index.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

chore: willboosterify this repo
  .editorconfig
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo (#374)
  .editorconfig
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo
  yarn.lock
Due: none

chore: willboosterify this repo (#379)
  yarn.lock
Due: none

chore: willboosterify this repo upgrading dependencies
  .eslintignore
  .prettierignore
Due: none

chore: willboosterify this repo upgrading dependencies (#381)
  .eslintignore
  .prettierignore
Due: none

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

chore: willboosterify this repo upgrading dependencies
  .dependabot/config.yml
  .eslintignore
  .gitignore
  .prettierignore
  .renovaterc.json
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo upgrading dependencies (#409)
  .dependabot/config.yml
  .eslintignore
  .gitignore
  .prettierignore
  .renovaterc.json
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v6.7.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency sort-package-json to v1.24.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v2.9.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.12.14
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo upgrading dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo upgrading dependencies (#410)
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v9.5.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-node to v8.5.3
  package.json
  yarn.lock
Due: prettier --write

chore: willboosterify this repo upgrading dependencies
  .eslintignore
  .gitignore
  .prettierignore
  yarn.lock
Due: none

chore: willboosterify this repo upgrading dependencies (#417)
  .eslintignore
  .gitignore
  .prettierignore
  yarn.lock
Due: none

chore(deps): update dependency ts-node to v8.5.4
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  tslint -p . -t verbose --fix: any of: ./{src,__tests__}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
