Repository WillBooster/markdown-it-img-size: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t verbose --fix, prettier --write

chore(deps): lock file maintenance
  yarn.lock
Due: none

chore(deps): update all non-major dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/markdown-it to v10
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update linters
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency jest to v26
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency markdown-it to v12
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to v26
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-node to v9
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update willbooster-config
  package.json
  yarn.lock
Due: prettier --write

fix(deps): upgrade all dependencies
  __tests__/index.ts
  package.json
  src/index.ts
  yarn.lock
Due: tslint -p . -t verbose --fix, prettier --write

fix: type errors
  src/index.ts
Due: tslint -p . -t verbose --fix

ci: use GitHub Actions
  .circleci/config.yml
  .github/workflows/test.yml
  README.md
Due: prettier --write

doc: add a badge of GitHub Actions
  README.md
Due: prettier --write

Path conditions:
  tslint -p . -t verbose --fix: any of: ./{src,__tests__}/**/*.{ts,tsx}
  prettier --write: any of: ./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}
