Repository WillBooster/markdown-it-img-size: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint -p . -t verbose --fix, prettier --write

.lintstagedrc.json:

{
  "./{src,__tests__}/**/*.{ts,tsx}": [
    "tslint -p . -t verbose --fix",
    "git add"
  ],
  "./**/*.{css,htm,html,js,jsx,json,md,scss,yaml,yml}": [
    "prettier --write",
    "git add"
  ]
}

fix: refine coding way
  src/index.ts
Due: tslint -p . -t verbose --fix

feat: support percentage notation
  __tests__/index.ts
  src/index.ts
Due: tslint -p . -t verbose --fix

feat: correspond to specify only width or height
  __tests__/index.ts
  src/index.ts
Due: tslint -p . -t verbose --fix

chore(deps): update dependency @types/node to v12.0.3
  package.json
  yarn.lock
Due: prettier --write

fix: delete unnecessary return statements
  src/index.ts
Due: tslint -p . -t verbose --fix

chore(deps): update dependency typescript to v3.5.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.0.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency tslint to v5.17.0
  package.json
  yarn.lock
Due: prettier --write

fix: check brackets
  src/index.ts
Due: tslint -p . -t verbose --fix

fix: consider whitespaces
  src/index.ts
Due: tslint -p . -t verbose --fix

feat: correspond to multiple images adding a test case (#23)
  __tests__/index.ts
  fixture/w-two-images.md
  fixture/w-two-images.md.html
Due: tslint -p . -t verbose --fix, prettier --write

enhance test cases
  __tests__/index.ts
  fixture/images-2.md
  fixture/images-2.md.html
  fixture/images-3.md
  fixture/images-3.md.html
  fixture/w-two-images.md
  fixture/w-two-images.md.html
Due: tslint -p . -t verbose --fix, prettier --write

feat: add a helper function to get elements of the image
  src/index.ts
Due: tslint -p . -t verbose --fix

Refactor code
  src/index.ts
Due: tslint -p . -t verbose --fix

feat: support size specification like `=200%:200%` (#13)
  __tests__/index.ts
  src/index.ts
  yarn.lock
Due: tslint -p . -t verbose --fix

chore(deps): update dependency husky to v2.4.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.0.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v8.2.0
  package.json
  yarn.lock
Due: prettier --write

fix: delete closing tags from img elements
  src/index.ts
Due: tslint -p . -t verbose --fix

chore(deps): update dependency @types/node to v12.0.6
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v1.18.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.0.7
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to v12.0.8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency husky to v2.4.1
  package.json
  yarn.lock
Due: prettier --write

fix: use core ruler instead of inline ruler
  __tests__/index.ts
  fixture/w-height.md.html
  fixture/w-percentage.md.html
  fixture/w-size.md.html
  fixture/w-vhvw.md.html
  fixture/w-vmax.md.html
  fixture/w-vmin.md.html
  fixture/w-width.md.html
  fixture/wo-size.md.html
  src/index.ts
Due: tslint -p . -t verbose --fix, prettier --write

fix prettier settings
  .prettierignore
  __tests__/index.ts
  fixture/images-2.md.html
  fixture/images-3.md.html
  script/FixtureGenerator.ts
  src/index.ts
  test-fixtures/icon.png
  test-fixtures/images-2.md
  test-fixtures/images-2.md.html
  test-fixtures/images-3.md
  test-fixtures/images-3.md.html
  test-fixtures/w-height.md
  test-fixtures/w-height.md.html
  test-fixtures/w-percentage.md
  test-fixtures/w-percentage.md.html
  test-fixtures/w-size.md
  test-fixtures/w-size.md.html
  test-fixtures/w-vhvw.md
  test-fixtures/w-vhvw.md.html
  test-fixtures/w-vmax.md
  test-fixtures/w-vmax.md.html
  test-fixtures/w-vmin.md
  test-fixtures/w-vmin.md.html
  test-fixtures/w-width.md
  test-fixtures/w-width.md.html
  test-fixtures/wo-size.md
  test-fixtures/wo-size.md.html
Due: tslint -p . -t verbose --fix, prettier --write
